.header-playlist {
  color: #FF4D4D;
  font-size: 30px;
  display: flex;
  justify-content: start;
}

.title-playlist {
font-size: 30px;
font-weight: 500;
}
.card-video-container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-wrap: wrap;
}

.iframe-player {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: chocolate;

}
.iframe-player iframe {
  width: 837px;
  height: 471px;
}
@media (max-width: 415px) {
  .iframe-player iframe {
    width: 374px;
    height: 334px;
  }
}

@media (max-width: 1024px) {
  .iframe-player iframe {
    width: 640px;
    height: 360px;
  }
}
@media (max-width: 768px) {
  .iframe-player iframe {
    width: 932px;
    height: 524px;
  }
  .container{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
  }

}
.container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;
}
.playlist-sidebar {
  background: chartreuse;
  margin-left: 20px;
}
