
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.search-form {
  width: 500px;
}
.icon {
  font-size: 25px;
  margin-right: 20px;
  padding: 0 5px;
  box-sizing: border-box;
  border: 2px solid #FF4D4D;
}

.list-video-default {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.videoItem {
  width: 320px;
  height: 212px;
  margin-bottom: 50px;
  margin-left: 20px;
}
.title {
  margin-top: 10px;
  color: black;
  font-weight: 600;
}

.btn-play-list{
 font-size: 45px;
 color: #FF4D4D;
}
.playlist-item {
  cursor: pointer;
  font-size: 20px;
  color: #FF4D4D
}
