.container-videoItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
.videoItem {
  transition: all 0.3s linear;
  text-align: center;
  height: fit-content;
  position: relative;
}
.videoItem h4 {
  text-transform: capitalize;
  margin-top: 5px;
}
.videoItem:hover {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.imageItem {
  opacity: 1;
  display: block;
  transition: 1s ease;
}

.videoItem:hover .imageItem {
  opacity: 0.4;
}
.btn {
  position: absolute;
  font-size: 40px;
  opacity: 0;
  transition: 1s ease;
  cursor: pointer;
}

.videoItem:hover .btn{
  opacity: 1;
}

.btn-add {
  top: 35%;
  right: 35%;
}

.btn-play {
  top: 35%;
  left: 35%;
}